- flash.each do |name, msg|
  %div{:class => "alert alert-message alert-#{name.to_sym == :notice ? "success" : "danger"}"}
    %a.close{"data-dismiss" => "alert"} ×
    = content_tag :div, msg, :id => "flash_#{name}"
